! X colors.

! Colors 0-15.
*.color0: #1f2528
*color0:  #1f2528
*.color1: #EC5f67
*color1:  #EC5f67
*.color2: #99C794
*color2:  #99C794
*.color3: #FAC863
*color3:  #FAC863
*.color4: #6699CC
*color4:  #6699CC
*.color5: #C594C5
*color5:  #C594C5
*.color6: #5FB3B3
*color6:  #5FB3B3
*.color7: #C0C5CE
*color7:  #C0C5CE
*.color8: #65737E
*color8:  #65737E
*.color9: #EC5f67
*color9:  #EC5f67
*.color10: #99C794
*color10:  #99C794
*.color11: #FAC863
*color11:  #FAC863
*.color12: #6699CC
*color12:  #6699CC
*.color13: #C594C5
*color13:  #C594C5
*.color14: #5FB3B3
*color14:  #5FB3B3
*.color15: #D8DEE9
*color15:  #D8DEE9

! Black color that will not be affected by bold highlighting.
*.color66: #1f2528
*color66:  #1f2528

! Xclock colors.
XClock*foreground: #C0C5CE
XClock*background: #1f2528
XClock*majorColor:  rgba:d8/de/e9/ff
XClock*minorColor:  rgba:d8/de/e9/ff
XClock*hourColor:   rgba:d8/de/e9/ff
XClock*minuteColor: rgba:d8/de/e9/ff
XClock*secondColor: rgba:d8/de/e9/ff

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
