span[data-link-title^="Person/"] .rm-page-ref {
  background: #fac863;
  color: #202020;
  padding: 3px 7px;
  border-radius: 6px;
  line-height: 2em;
  font-weight: 450;
}
span[data-link-title^="Company/"] .rm-page-ref {
  background: #c0c0c0;
  color: #202020;
  padding: 3px 7px;
  border-radius: 6px;
  line-height: 2em;
  font-weight: 450;
}
span[data-link-title^="Project/Mental/"] .rm-page-ref {
  background: #99c794;
  color: #202020;
  padding: 3px 7px;
  border-radius: 6px;
  line-height: 2em;
  font-weight: 450;
}
span[data-link-title^="Project/Physical/"] .rm-page-ref {
  background: #5fb3b3;
  color: #fff;
  padding: 3px 7px;
  border-radius: 6px;
  line-height: 2em;
  font-weight: 450;
}
span[data-link-title^="Project/Spiritual/"] .rm-page-ref {
  background: #c594c5;
  color: #202020;
  padding: 3px 7px;
  border-radius: 6px;
  line-height: 2em;
  font-weight: 450;
}
span[data-link-title^="Project/Emotional/"] .rm-page-ref {
  background: #6699cc;
  color: #fff;
  padding: 3px 7px;
  border-radius: 6px;
  line-height: 2em;
  font-weight: 450;
}
span[data-link-title^="Project/Emotional/"] .rm-page-ref::before {
  content:"❣️ ";
}
span[data-link-title^="Project/Physical/"] .rm-page-ref::before {
  content:"🏃 ";
}
span[data-link-title^="Project/Spiritual/"] .rm-page-ref::before {
  content:"🧘‍♂️ ";
}
span[data-link-title^="Project/Mental/"] .rm-page-ref::before {
  content:"🤓 ";
}
span[data-link-title^="Person/"] .rm-page-ref::before {
  content:"🧑 ";
}
span[data-link-title^="Company/"] .rm-page-ref::before {
  content:"🏢 ";
}
